<form method="post" action="/diaries/<%= @diary.id %>">
  <input type="hidden" name="_method" value="patch" />
  <p>
    <div><label for="title">Title</label></div>
    <input id="name" type="text" name="diary[title]" value="<%= @diary.title %>" />
  </p>
  <p>
    <div><label for="day">Date</label></div>
    <input id="date" type="datetime-local" name="diary[date]" value="<%= @diary.date %>" />
  </p>

  <input type="submit" value="Update Entry" />
</form>