<div class="wrapper">  
  <%=flash[:error]%>
  <h1>Your entries for <%=@cat.name%></h1>
    <% @diaries.each do |diary| %>
      <div><a href="/diaries/<%= diary.id %>"><%=diary.date%></a></div>
    <% end %>
</div>








