<div class="wrapper">  
  <p><%=flash[:error]%></p>
  <h1>Your diaries for <%=@cat.name%></h1>
    <% @diaries.each do |diary| %>
      <div><a href="/diaries/<%= diary.id %>"><%=diary.date%></a></div>
    <%end%>

  <p><%flash[:error]%></p>
</div>








