<h1>Create a new diary</h1>
<form method="post" action="/diaries">
  <p>
    <div><label for="title">Title</label></div>
    <input type="text" name="diary[title]" id="title" />
  </p>
  <p>
    <div><label for="date">Date</label></div>
    <input type="datetime-local" name="diary[date]" id="date" />
  </p>

  <input type="submit" value="Create Diary"/>
</form>
