<h1>New Entry</h1>
<form method="post" action="/cats">
  <p>
    <div><label for="name">Name</label></div>
    <input type="text" name="cat[name]" id="name" />
  </p>
  <p>
    <div><label for="mood">Mood</label></div>
    <input type="text" name="cat[mood]" id="mood" />
  </p>
  <p>
    <div><label for="behavior">Behavior</label></div>
    <input type="text" name="cat[behavior]" id="behavior" />
  </p>
  <p>
    <div><label>Select Diary:</label></div>
      <%Diary.all.each do |d|%>
      <% if current_user.diaries.include?(d) %>
        <input type="radio" name="cat[diary_id]" id="<%= d.title %>" value="<%=d.id%>"> <%=d.title%></input>
      <% end %>
    <%end%>
  </p>
  <p>
    <div><label for="date">Select Date:</label></div>
    <input type="datetime-local" name="diary[date]" />
  </p>

  <input type="submit" value="Create Entry"/>
</form>