<div class="wrapper">

<h1>New Entry</h1>
<form method="post" action="/cats/<%= @cat.id %>/diaries">
  
  <h2><%=@cat.name%></h2>
  <input type="hidden" value=<%= @cat.id %> name="diary[cat_id]" id="cat_id" />
  <p>
    <div><label for="mood">Mood</label></div>
    <input type="text" name="diary[mood]" id="mood" />
  </p>
  <p>
    <div><label for="behavior">Behavior</label></div>
    <input type="text" name="diary[behavior]" id="behavior" />
  </p>
  <p>
    <div><label for="date">Select Date</label></div>
    <input type="datetime-local" name="diary[date]" id="date" />
  </p>

  <input type="submit" value="Create Entry"/>
</form>
</div>