<%# <h1>Insert the form to edit an instance of your model here.</h1> %>
<form method="post" action="/cats/<%= @cat.id %>">
  <input type="hidden" name="_method" value="patch" />
  <p>
    <div><label for="name">Name</label></div>
    <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>" />
  </p>
  
  <input type="submit" value="Update Entry" />
</form>