<%# <h1>Insert the form to edit an instance of your model here.</h1> %>
<form method="post" action="/cats/<%= @cat.id %>">
  <input type="hidden" name="_method" value="patch" />
  <p>
    <div><label for="name">Name</label></div>
    <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>" />
  </p>
  <p>
    <div><label for="mood">Mood</label></div>
    <input id="mood" type="text" name="cat[mood]" value="<%= @cat.mood %>" />
  </p>
  <p>
    <div><label for="behavior">Behavior</label></div>
    <input id="behavior" type="text" name="cat[behavior]" value="<%= @cat.behavior %>" />
  </p>

  <input type="submit" value="Update Entry" />
</form>