<div class="wrapper">

<h2> Remove <%=@cat.name%> from my cats.</h2> 
<div>
  <form method="post" action="/cats/<%= @cat.id %>/delete">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
</div>

</div>