<div class="wrapper">
<h1>Your cats</h1>
<p>
  <% @cats.each do |cat| %>
    <div><a href="/cats/<%= cat.id %>"><%= cat.name %></a></div>
  <% end %>
</p>

<p>
    <a href="/cats/new">Click here to create a new cat!</a>
</p>
</div>
  

