<div class="wrapper">
<p>Welcome, <%=current_user.email%>!</p>
<h1>Your cats</h1>
<p>
  <% @cats.each do |cat| %>
    <div><a href="/cats/<%= cat.id %>"><%= cat.name %></a></div>
  <% end %>
</p>

<div>
<p>Add a new cat!</p>
<a href="/cats/new"><button>New Cat</button></a>
</div>


