<h1>Add your cat</h1>
<form method="post" action="/cats">
  <p>
    <div><label for="name">Name</label></div>
    <input type="text" name="cat[name]" id="name" />
  </p>

  <input type="submit" value="Create cat"/>
</form>
