
<div class="wrapper">
  <header><img src="images/bhindi-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Get to Meow Me</h1>
    <h2>A daily mood diary for your feline overlords</h2> 

    <p>Welcome, <%=current_user.email%> !</p>
    <p>As we know, humans are woefully unable to predict their cat's moods. This displeases our feline overlords. Use this diary to record your cat's daily mood and behaviors and maybe next time you'll get it right.</p>
  </div>
  <footer>
      &copy; Get to Meow Me, Inc.
  </footer>
</div>
